$white: rgb(151, 140, 140);
$green:#61d0d4;
$red:#e83556;
$darker:#444144;
$light:#eae5e5;

$std-padding:20px;
$breakpoint: 768px;
$footerheight:80px;
$subheadingunit: 50px;
$picture-width:450px;
